/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: Montserrat;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* СТИЛИ ДЛЯ HEADER */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin-left: 133px;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}

@media (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin-left: 20px;
  }
  .menu__link {
    font-size: 18px;
  }
  .header__container {
    min-height: 70px;
  }
}

/* СТИЛИ ДЛЯ БЛОКА MAIN */
.main {
  flex: 1 1 auto;
}
.main__main-block {
}
.main-block {
  position: relative;
}
.main-block__container {
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.main-block__title {
  font-size: 58px;
  line-height: 137%;
  font-weight: 800;
  letter-spacing: 0.2px;
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  font-weight: 700;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  min-height: 48px;
  line-height: 150%;
  text-align: center;
  margin: 10px 0;
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  background: #ff7b47;
  color: #fff;
}

.main-block__button_green {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
  .main-block__button {
    flex: 1 1 100%;
  }
  .main-block__text {
    color: #302e2e;
  }
}
/* СТИЛИ ДЛЯ БЛОКА FOOTER  */
.footer {
}
