/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: Montserrat;
  background: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* СТИЛИ ДЛЯ HEADER */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin-left: 133px;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  color: #737373;
  line-height: 171%;
  font-weight: 600;
}

@media (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin-left: 20px;
  }
  .menu__link {
    font-size: 18px;
  }
  .header__container {
    min-height: 70px;
  }
}

/* СТИЛИ ДЛЯ БЛОКА MAIN */
.main {
  flex: 1 1 auto;
}

.main__main-block {
}

.main-block {
  position: relative;
}

.main-block__container {
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.main-block__title {
  font-size: 58px;
  line-height: 137%;
  font-weight: 800;
  letter-spacing: 0.2px;
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  font-weight: 700;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  min-height: 48px;
  line-height: 150%;
  text-align: center;
  margin: 10px 0;
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  background: #ff7b47;
  color: #fff;
}

.main-block__button_green {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0 160px 0;
  }
  .main-block__title {
    font-size: 42px;
  }
  .main-block__button {
    flex: 1 1 100%;
  }
  .main-block__text {
    color: #302e2e;
  }
}

/* СТИЛИ ДЛЯ БЛОКА SERVICES  */
.main__services {
  margin: -111px 0px 0px 0px;
  position: relative;
  z-index: 2;
}

.services {
}

.services__container {
}

.services__body {
}

.services__column {
  flex: 0 1 33.333%;
  margin: 0 0 30px 0;
}

.services__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 35px;
  height: 100%;
}

.item-service {
}

.item-service_green {
  background: #0d5c63;
}

.item-service_green .item-service__title {
  color: #fff;
}

.item-service_green .item-service__text {
  color: #fff;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__img {
}

.item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  color: #737373;
  line-height: 142%;
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
  .services__column {
    padding: 0px 15px;
  }
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

/* СТИЛИ ДЛЯ БЛОКА STATISTICS */
.main__statistics {
}

.statistics {
  padding: 80px 0;
}

.statistics__container {
}

.statistics__header {
  margin: 0 0 50px 0;
}

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  line-height: 142%;
  font-size: 40px;
  font-weight: 700;
}

.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.header-block__subtitle {
  line-height: 142%;
  color: #737373;
}

.statistics__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.statistics__column {
  padding: 0 15px;
  margin: 0 0 30px 0;
  flex: 0 1 25%;
}

.statistics__item {
  background-color: #fff;
  padding: 30px 35px;
  text-align: center;
  font-weight: 700;
}

.statistics__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.statistics__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.statistics__value {
  font-size: 40px;
  line-height: 142%;
}

.statistics__text {
  color: #737373;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

@media (max-width: 1020px) {
  .statistics__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 992px) {
  .statistics {
    padding: 50px 0;
  }
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .statistics {
    padding: 40px 0;
  }
  .statistics__header {
    margin: 0 0 25px 0;
  }
  .header-block__title {
    font-size: 30px;
  }
}

@media (max-width: 560px) {
  .statistics__column {
    flex: 0 1 100%;
  }
}

/* СТИЛИ ДЛЯ БЛОКА PRACTICE */
.main__practice {
}

.practice {
  padding: 125px 0 80px 0;
}

.practice__container {
}

.practice__header {
  margin: 0 0 45px 0;
}

.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  flex: 0 1 25%;
  margin: 0 0 30px 0;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.practice__item {
}

.item-practice {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 150%;
  font-weight: 700;
}

.item-practice__text {
  color: #737373;
  line-height: 142%;
}

.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0 40px 0;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0;
  }
  .practice__header {
    margin: 0 0 25px 0;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

/* СТИЛИ ДЛЯ БЛОКА ABOUT */
.section.page__about {
}

.about {
  background: #fff;
  padding: 80px 0 130px 0;
}

.about__container {
}

.about__header {
  margin: 0 0 100px 0;
}

.about__body {
  display: flex;
  align-items: flex-start;
}

.about__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}

.about__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.about__content {
  flex: 1 1 auto;
  padding: 0 0 0 121px;
}

.about__top:not(:last-child) {
  margin: 0 0 50px 0;
}

.about__title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.2px;
  line-height: 142%;
}

.about__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.about__text {
  color: #737373;
  line-height: 142%;
}

.about__items {
}

.about__item {
}

.about__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-about {
}

.item-about__icon {
  flex: 0 0 32px;
}

.item-about__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-about__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-about__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-about__text {
  color: #737373;
  line-height: 142%;
}

@media (max-width: 1080px) {
  .about__content {
    flex: 1 1 auto;
    padding: 0 0 0 50px;
  }
}

@media (max-width: 950px) {
  .about {
    padding: 50px 0 50px 0;
  }
  .about__content {
    padding: 0;
  }
  .about__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .about__video {
    padding: 0 0 56.25% 0;
  }
  .about__video:not(:last-child) {
    margin: 50px 0 0 0;
  }
  .about__header {
    margin: 0 0 30px 0;
  }
  .about__title {
    font-size: 24px;
  }
}

/* СТИЛИ ДЛЯ БЛОКА FOOTER */
.footer {
}
